body {
  font-family: 'Roboto', sans-serif;
  /* Set the font-family for the entire body to Roboto with a generic family of sans-serif */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
}

header {

  background-color: #4584b1;
  height: 4rem;
  color: #fff;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 
  - Give the header a height of 4rem and background color (#4584b1). What is a rem?
  Hint: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units
  - Give the text a color of #fff and make the font size 2 rem
  - Use flexbox to vertically align the "CodeClan Travel" logo in the center
  Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/align-items
  */
}

#logo {

  margin-left: 40px;
  /* The logo element has an id of logo */
  /* Give the logo element a left margin of 40px */
}

nav {
  background-color: #103594;
  height: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Give the nav a background color (#103594) */
  /* Use rem units to give the nav an appropriate height */
  /* Use flexbox to vertially align the nav child elements in the center */
}

nav ul {

  display: flex;
  gap: 1rem;
  margin-right: auto; 

  /* Use flexbox to layout the li elements horizontally */
}

nav ul li {
  list-style: none;
  color: white;
  font-size: 1rem;

}
/* Now it's time for the navigation links */
/* Create a CSS block that targets all of the <li> elements that are children of the <nav> element */
/* Use the following properties inside the block. */
/* We haven't provided the values in this case so use the values you think would be appropriate:
  - color
  - font-size
  - list-style
  - margin-right
*/

nav ul li a {
  color: #fff;
  text-decoration: none;
  
}

nav ul li a:hover {
  text-decoration: underline;
}

.where-togo {
  background-color: #040E27;
  padding: 8px;  
}

.where-togo > h3 {
  color: #fff;
  font-size: 2rem;
}

.search-form {
  display: flex;
}

.input-field {
  width: auto;
  margin-left: 5px;
  margin-bottom: 15px;

}



/* Styling the elements of Forms is difficult. */
/* Hint: https://developer.mozilla.org/en-US/docs/Learn/Forms/Advanced_form_styling */

input {
  appearance: none;
  width: 200px;
  height: 40px;
  padding-left: 1px;
  border-radius: 5px;
  /* Style the form input elements using width, height, padding-left and border-radius */
}

.nice-select {
  width: 180px;
  height: 40px;
  font-size: 0.8rem;
  color: gray;
  border-radius: 5px;
  /* Select elements are not imput elements! Therefore we've given the <select> element it's own class  */
  /* They are notoriously difficult to style with css */
  /* In this case you can use width, height, font-size, color, border and border-radius */
}

.search-btn {

  background-color: rgb(237, 88, 88);
  color: #fff;
  font-size: 0.8rem;
  height: 40px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  /* Buttons are probably the most fun to style! The border-radius and cursor properties can quickly make a button look good */
  /* Style the search button using the following properties: */
  /* 
  - background
  - color
  - font-size
  - height
  - width
  - border
  - border-radius
  - cursor
  */
}

.container {
  display: grid;
  justify-content: center;
  /* The destinations are enclosed in an article element that we want to make a grid */
  /* Set the display property to 'grid' and justify the content */
}

.row {
  grid-template-columns: 30% 30% 30%;
  /* The row of the grid has 3 columns which should be the same width and roughly a third of the available space */
  /* Use the grid-template-columns property to set each column to 30% */
  /* You can experiment with different units for the width values */
  /* Hint: https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
}

.section-title {
  display: flex;
  justify-content: center;
  /* The <div> with class section-title contains an <h3> child which we want to center */
  /* The easiest way to center child elements is to set the display property to 'flex' and justify the content */
}

.single-destination {
  margin: 10px;
  overflow: hidden;
  /* Use the margin property to make some space between the destinations */
  /* Set the overflow to 'hidden' */
  /* The overflow CSS shorthand property sets the desired behaviour for an element's overflow 
    — i.e. when an element's content is too big to fit. In this case, the image is too big too fit. */
}

img {
  max-width: 100%;
  /* Set the max-width property to 100% */
}

/* Let's take the training wheels off. Finish off the page by adding styles to the remaining blocks */

.testimonial-area {
  background-color: 	#36454f;
  display: grid;
  justify-items: space-around;
  /* display: flex;
  justify-content: space-evenly; */
  
  /* Write your code here
   */
}

.single-testmonial{
  background-color: #fff;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 5%;

  /* Write your code here */
}

.footer {
  background-color: #040E27;
  color: #fff;
  margin-bottom: 10px;
  /* Write your code here */
}

.footer-widget p {
 
  /* Write your code here */
}

.footer-widget a:hover {
   /* Write your code here */
}

.footer-widget ul li {
  color: #fff;
  margin-bottom: 10px;
  /* Write your code here */
}

.footer-widget a {
  
  color: #fff;
   /* Write your code here */
}

/* Media Queries */

@media (max-width: 720px) {
    /* Add some responsive code here */
    /* Make the destinations stack on top of each other */
    /* Make the form input stack on top of each other */
}